/***********************
COLORS:
lt gray: rgba(235, 235, 235, .8)
       : #ebebeb
dk gray: rgba(127, 127, 127, .7)
       : #7f7f7f
dk pink: #843a54
lt purp: #c9bdc7
dk purp: #474056
white__: #fff
************************/

/***********************
      BASE STYLES
************************/
* {box-sizing: border-box;}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

#about, #work, #contact {
  padding: 80px;
}

.section-header h2 {
  color: #262A2B;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
}

/***********************
      NAVIGATION
************************/
.navbar {
  background-color: rgba(235, 235, 235, .8);
  border: none;
}

.navbar a {
  color: #474056;
  font-weight: bold;
  letter-spacing: .2em;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-links a {
  color: #474056;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

#nav-links>.active>a {
  background-color: #474056;
  color: #fff;
}

.navbar a:hover, #nav-links a:hover {
  color: #fff;
}

/***********************
      HEADER
************************/
header {
  height: 800px;
  width: 100%;
  background-image: url('../img/dreamy-morning-hoarfrost-on-grass-picjumbo-comW1400flip.jpg');
  background-size: cover;
  margin-top: -20px;
}

#headline {
  clear: both;
  color: #474056;
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  line-height: 80px;
  margin-top: 80px;
  padding: 40px;
}

/***********************
      ABOUT
************************/
#about p {
  color: #7F7F7F;
  font-size: 1.5em;
  line-height: 40px;
}

#modal-embed {
  height: 500px;
  padding: 10px;
  width: 100%;
}

/***********************
      WORK
************************/
#work {
  background-color: #c9bdc7;
}

#work h2 {
  margin-bottom: 20px;
  margin-top: -20px;
}

#projects {
  margin-top: 10px;
}

#projects img {
  border-radius: 5%;
}

.info {
  color: #fff;
  display: none;
  font-weight: bold;
  left: 10%;
  letter-spacing: 0.5em;
  line-height: 1.6;
  position: absolute;
  text-transform: uppercase;
  top: 15%;
}

.proj-title {
  font-weight: 100;
}

/***********************
      CONTACT
************************/
#contact {
  background-color: #ebebeb;
}

.contact-info {
  margin-top: 20px;
}

#contact a {
  color: #843a54;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

#social-media h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 40px 0 0 0;
}

#social-media ul {
  padding-left: 0px;
}

#contact ul {
  list-style: none;
}

#contact ul li {
  display: inline-block;
}

#contact ul img {
  padding-right: 48px;
}

/***********************
      FOOTER
************************/
footer {
  background-color: #ebebeb;
  margin: 0;
  text-align: right;
  width: 100%;
}

footer h4 {
  margin: 0;
  padding: 10px;
}
